@import '../../styles.scss';

.oICard{
  width: 866px;
  height: 564px;
}
img{
  height: 445px;
  width: 900px;
}

mat-drawer{
  width: 434px;
}
.size1{
  overflow: overlay;
}
.inner-card-size{
  overflow: overlay;
  height: 100px;
}
