
<div fxLayout="column" fxLayoutAlign="center center" style=" margin-top: 120px;">
  <mat-card>
<img mat-card-image src="https://cdn-az.allevents.in/events9/banners/87c53548561d8095f5481951f82005f360cf35a78d331e72bf87e24d2788bcd0-rimg-w960-h540-gmir.jpg?v=1664120630">
<h4>Royal Enfield Presents SneakinOut by SteppinOut x SoleSearch – Now In 9 Cities</h4>
<mat-card-content>
<p  class="m-16-06">After a successful season 1, SteppinOut and SoleSearch are back
  with the 2nd season of SneakinOut, presented by Royal Enfield. The pan-India
  cultural experience will feature the best from the worlds of sneakers, streetwear, and hip-hop in 9 shows across 9 cities from 7th August to
 16th October.</p>
</mat-card-content>
  <img mat-card-image src="https://media.fashionnetwork.com/m/a2c5/4a64/2368/2777/a4c4/c211/c5f2/7851/c1e7/48f4/48f4.jpg">
<br>
<p  class="m-16-06">
The first edition was held from November 2021 to May 2022 across 8 cities. The party is back with the best homegrown X international brands.
 Expect an elite line-up of over 100 exhibitors from around the country showcasing their brands in the most convivial atmosphere.
</p>
</mat-card>
</div>
