
@import '../../styles.scss';
.contact-card1 {
  width: 969px;
  height: 650px;
}
.contact-card-img{
  width: 1000px;
  height: 500px;
}
.contact-card2 {
  width: 969px;

  height: 350px;
}
.footer{
  background-color:#FFF9B0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

}
