<app-tool-bar></app-tool-bar>
<!-- <app-home></app-home> -->
<!-- <app-practice></app-practice> -->
<!-- <app-book-table></app-book-table> -->
<!-- <app-search></app-search> -->
<!-- <app-south-indian></app-south-indian> -->
<!-- <app-royal-en></app-royal-en> -->
<!-- <app-sales></app-sales> -->
<!-- <app-charity></app-charity> -->
<!-- <app-live-music></app-live-music> -->
<!-- <app-blog-event></app-blog-event> -->
<!-- <app-blosg-event></app-blog-event> -->
  <!-- <app-login></app-login> -->
  <!-- <app-book-register></app-book-register> -->
  <!-- <app-book-table></app-book-table> -->
  <!-- <app-abs></app-abs> -->
  <!-- <app-image-upload-practice></app-image-upload-practice> -->
  <!-- <app-review></app-review> -->

<router-outlet></router-outlet>
