<!-- <body>
<div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 20%;">
  <div >
    <div >
<mat-card >
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle>Credentials</mat-card-subtitle>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content   >
    <mat-form-field appearance="outline" >
    <mat-label>username</mat-label>
    <input matInput type="email" placeholder="username">
</mat-form-field>
<br>
<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput type="password" placeholder="Password">
</mat-form-field>
  </mat-card-content>
</mat-card>
</div>
  </div>
  </div>
</body> -->

<body >
  <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 10%;">
    <mat-card
      style="width: 500px;"
      fxLayout="row"
      fxLayoutAlign="center center"

    >
      <mat-tab-group  mat-align-tabs="start" color="warn">
        <mat-tab label="Register">
          <form #RegisterForm="ngForm">
          <mat-card>
            <br />
            <mat-card-content >

                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    required
                    pattern="^[a-zA-Z\s]*$"
                    name="uname"
                    [(ngModel)]="frm.name"
                    maxlength="30"
                    #uname="ngModel"
                  />
                  <mat-error *ngIf="uname.errors?.['required']">
                    Name required*
                  </mat-error>
                  <mat-error *ngIf="uname.errors?.['pattern']">
                    Enter only letters
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    required
                    pattern="^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.[a-z](-?[a-z])+$"

                    name="uemail"
                    [(ngModel)]="frm.email"
                    #uemail="ngModel"
                  />
                  <mat-error *ngIf="uemail.errors?.['required']">
                    Email required*
                  </mat-error>
                  <mat-error *ngIf="uemail.errors?.['pattern']">
                    Invalid Email
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Password"
                    required
                    pattern="^[a-zA-Z0-9@#$&*]{8}$"
                    name="upassword"
                    [(ngModel)]="frm.password"
                    #upassword="ngModel"
                  />
                  <mat-error *ngIf="upassword.errors?.['required']">
                    Password required*
                  </mat-error>
                  <mat-error *ngIf="upassword.errors?.['pattern']">
                    Password should contain one lowercase,uppercase,@#$&* and should be 8 characters.


                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Phone</mat-label>
                  <input
                    matInput
                    type="tel"
                    name="uphone"
                    placeholder="Enter your PhoneNo"
                    required
                    pattern="^\d{10}$"
                    maxlength="10"
                    [(ngModel)]="frm.phone"
                    #uPhone="ngModel"
                  />
                </mat-form-field>
                <div *ngIf="uPhone.touched && uPhone.invalid">
                  <mat-error *ngIf="uPhone.errors?.['required']">
                    Phone required*
                  </mat-error>
                  <mat-error *ngIf="uPhone.errors?.['pattern']">
                    Enter only numbers
                  </mat-error>
                </div>

                <br />
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Gender</mat-label>
                  <mat-select [(ngModel)]="frm.gender" name="ugender" #uGender="ngModel" >
                    <mat-option *ngFor="let g of genders" [value]="g" required>
                      {{ g }}
                    </mat-option>
                  </mat-select>



                </mat-form-field>
                <div *ngIf="uPhone.touched && uPhone.invalid">
                  <mat-error *ngIf="uGender.errors?.['required']">oops</mat-error>
                </div>

                <br />
                <button
                  mat-raised-button
                  color="warn"
                  style="width: 100%;"
                  [disabled]="RegisterForm.invalid"

                  (click)="store('Registered successfully','dismiss',RegisterForm.value)"
                >
                  Submit
                </button>

            </mat-card-content>
          </mat-card>
        </form>
        </mat-tab>

        <mat-tab label="Login">
          <form name="loginForm" #LoginForm="ngForm">
          <mat-card>

            <br />

            <mat-card-content>

                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="username"
                    required
                    pattern="^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.[a-z](-?[a-z])+$"

                    name="u1email"
                    [(ngModel)]="uEmail"
                    #uEmailx="ngModel"
                  />
                  <mat-error *ngIf="uEmailx.errors?.['required']">
                    Email required*
                  </mat-error>
                  <mat-error *ngIf="uEmailx.errors?.['pattern']">
                    Invalid Email
                  </mat-error>
                  <!-- <mat-tab label="Third">Content 3</mat-tab> -->
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Password"
                    required
                    pattern="^[a-zA-Z0-9@#$&*]{8}$"
                    name="u1password"
                    [(ngModel)]="uPassword"
                    #uPasswordx="ngModel"
                  />
                  <mat-error *ngIf="uPasswordx.errors?.['required']">
                    Password required*
                  </mat-error>
                  <mat-error *ngIf="uPasswordx.errors?.['pattern']">
                    Password Invalid*
                  </mat-error>
                </mat-form-field>

                <button
                  mat-raised-button
                  style="width: 100%;"
                  [disabled]="LoginForm.invalid"
                  color="warn"
                  (click)="loginCall('logged in successfully','dismiss',LoginForm.value)"
                >
                  Submit
                </button>

            </mat-card-content>
          </mat-card>
        </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</body>
