
<div fxLayout="column" fxLayoutAlign="center center" style=" margin-top: 120px;">
  <mat-card>
<img mat-card-image src="https://cdn2.allevents.in/thumbs/thumb6304f8d979634.jpg">
<h4>ASIA JEWELS SHOW 2022</h4>
<mat-card-content>
<p  class="m-16-06">Luxury Meets Jewellery at "Asia Jewels Show" - India's most Opulent Fine Jewellery Exhibition.Its Back ! this time in one of the most Luxurious 5 Star Hotel of Bangalore City-Four Seasons HotelBengaluru at Embassy One ...with all new designs from India's best selected jewellery designers from all over India under one roof. Shop for upcoming Festive & Wedding Season in comfort of upmarket luxury venue in the heart of city with Ample of Free Valet Car Parking.Mark your dates</p>
</mat-card-content>
  <img mat-card-image src="https://imgnew.outlookindia.com/uploadimage/library/16_9/16_9_5/IMAGE_1651142089.webp">
<br>

</mat-card>
</div>

