<!--
<h1>khdkj</h1>
<google-map></google-map>

&nbsp;
<google-map></google-map>
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
></google-map>
<button mat-raised-button (click)="zoomIn()">Zoom in</button>
<button mat-raised-button (click)="zoomOut()">Zoom out</button> -->

<!-- <div #map style="width:100%;height:400px"></div> -->
<!-- <google-map></google-map> -->
<!--
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5029905218753!2d78.45551951518658!3d17.43562350600063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90b733e1b225%3A0xa36f43dace96faf9!2sOhri&#39;s%20Jiva%20Imperia!5e0!3m2!1sen!2sin!4v1668423863298!5m2!1sen!2sin"
  width="100%"
  height="500px"
  style="border: 0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe> -->
