// mat-card{

// }
@import '../../styles.scss';
img{
  width: 500px;
  height: 500px;

}
// mat-card{
//   width: 100%;
//   // padding: 10%;

// }
.sAlign{
  width: 185%;
  height: 33px;
}
.hButton{
  width: 87px;
  height: 43px;
}

.event-beauty{
  background-color: rgb(254,243,176);
}
