<div>
  &nbsp;
  <mat-drawer-container>
    <mat-drawer mode="side" opened>
 <app-book-register></app-book-register>
    </mat-drawer>
    <mat-drawer-content>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="oICard">
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxS-WLgNl4G1WWI2BuUXDv9uVEDe4wbRjNOw&usqp=CAU">
  <mat-card-title><h4>Chunteys</h4></mat-card-title>
  <mat-card-subtitle class="m-16-06">Rs.600 for 2|North Indian,Chinese</mat-card-subtitle>
  <mat-card-subtitle class="m-16-06">Banjara hills|Hyderabad</mat-card-subtitle>

  <mat-card-content class="m-16-06"><b>Time:-</b>(Opens at 7:00pm)</mat-card-content>
  </mat-card>
</div>
<br>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="oICard">
      <mat-tab-group>
       <mat-tab label="Menu">
        <img style="width: 866px;" class="eHeight" src="https://b.zmtcdn.com/data/menus/001/18897001/40aafe5017fa23f7784ee256b294e974.jpg">
       </mat-tab>
      <mat-tab label="Review">
        <mat-card>
          <mat-card-title><h4>Ratings & Reviews</h4></mat-card-title>
          <mat-card-content>
            <div>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
          <br>
          </mat-card-content>
        </mat-card>
        <h4 fxLayoutAlign="center center" (click)="showReviews()">
          Reviews
        </h4>
        <div>

          <p class="m-14-06" *ngIf="userReview">
            <mat-icon style="    width: 54px;
            height: 54px;
            font-size: 51px;">
              account_circle_outlined
            </mat-icon>
            <br>
            {{ reviewData[0] }}
          </p>

          <p class="m-14-06" *ngIf="userReview">
            {{ reviewData[2] }}
          </p>

          <h4  *ngIf="userReview" >
            {{ starData }}
            <mat-icon color="warn">star</mat-icon>
          </h4>
        </div>

      </mat-tab>
      <mat-tab label="About">
        <!-- <p>Ohri's Jiva is known for its unique texture and unmatched flavour. The pure veg restaurant serves North Indian, Chinese, and Continental cuisines, which you get to savor at cost-effective prices. The exquisite ambiance of the place matches the preferences of people coming from a wide demography. </p> -->

        <h5 style="color:#CA965C;"> <mat-icon>restaurant_menu</mat-icon><b>Cuisine</b></h5>
        <p>North Indian,Chinese</p>

          <h5 style="color:#CA965C;"><mat-icon>tapas</mat-icon><b>Type</b></h5>
          <p class="m-16-06">Casual Dining</p>
          <h5 style="color:#CA965C;"><mat-icon>currency_rupee</mat-icon><b>Average Cost</b></h5>
          <p class="m-16-06">600 for two people</p>
          <h5 style="color:#CA965C;"><mat-icon>trending_up</mat-icon><b>Best Selling</b></h5>
          <p class="m-16-06">
            Sponge Dosa, Guntur Idli, MLA Dosa, Filtered Coffee, Pesarattu.

          </p>
      </mat-tab>
      <mat-tab label="Help">
        <h3><b>We're always here to help</b></h3>
        <h4><b>Call us at</b></h4>
        <p class="m-16-06"><mat-icon>phone</mat-icon>8987898789</p>
      </mat-tab>
</mat-tab-group>
    </mat-card>
  </div>

  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="oICard">
        <mat-card-title>FAQ</mat-card-title>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="m-16-06">What cuisines are served at Chutneys, Banjara Hills?</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="m-16-06">The main cuisine served at Chutneys, Banjara Hills is South Indian.

            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="m-16-06"> What is the cost for two at Chutneys, Banjara Hills?   </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="m-16-06">The cost of two at Chutneys, Banjara Hills is ₹750. You can save EXTRA over and above the restaurant deal applied by paying your restaurant bill on the EazyDiner app via PayEazy.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="m-16-06">
                Does Chutneys, Banjara Hills serve pure vegetarian dishes? </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="m-16-06">No, Chutneys, Banjara Hills serves both veg and non-veg dishes.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="m-16-06">What are the operational timings of Chutneys, Banjara Hills?

              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="m-16-06">Chutneys, Banjara Hills restaurant operational timing for today: 07:00 AM to 11:00 PM</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="m-16-06">
                Does Chutneys, Banjara Hills serve buffet? </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="m-16-06">No, Chutneys, Banjara Hills does not serve buffet.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>

</mat-drawer-content>
</mat-drawer-container>
</div>
