<div>&nbsp;</div>
<div fxLayout="row" fxLayoutAlign="center center" style=" margin-top: 120px;">
  <mat-accordion>
    <mat-expansion-panel (opened)="(true)" style="width: 1138px;">
      <mat-expansion-panel-header>
        <mat-panel-title class="m-16-06">
          <mat-icon>account_circle</mat-icon>
          Profile
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout=" row wrap" fxLayoutAlign="start center">
        <div *ngFor="let register of registrationData">

        <mat-card class="profile-resize">
          <mat-card-title><h4>My Profile</h4></mat-card-title>
          <mat-card-content class="m-16-06">
        <h5>Name:-{{register.uname}} </h5>
        <h5>Mobile Number:-{{register.uphone}}</h5>

        <h5>Email :- {{register.uemail}}</h5>

        <h5>Gender:- {{register.ugender}}</h5>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>&nbsp;</div>
<div fxLayout="row " fxLayoutAlign="center center">
  <mat-accordion>
    <mat-expansion-panel style="width: 1138px;">

      <mat-expansion-panel-header>
        <mat-icon>room_service</mat-icon>
        Reservation History</mat-expansion-panel-header>
      <!-- <h1>Reservation history</h1> -->
      <div fxLayout=" row wrap" fxLayoutAlign="start center">
        <div *ngFor="let r of reservationDetails">
      <mat-card class="reservation-size" >
        <mat-card-title>Restaurant:- {{r.hotel}} </mat-card-title>
        <mat-card-subtitle class="m-16-06">{{r.location}} </mat-card-subtitle>
        <mat-card-content class="m-16-06">
          <p>On {{r.udate}}</p>

          <h4> Total Amount:- <b>Rs.{{r.uguests * r.price}}/-</b></h4>
          <img fxLayoutAlign="center center" class="w-551" matCardImage src="{{r.img}}">

        </mat-card-content>

      </mat-card>
    </div>
  </div>
    </mat-expansion-panel>

  </mat-accordion>


</div>
