

@import '../../styles.scss';
// mat-card{
//   width: 499px;
//   height: 400;
// }
// img{
//   width: 600px ;
//   height: 400px;
// }

// .size{
//   width: 500px ;
//   height: 400px;
// }
mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-tab-body-content {
  height: auto !important;
  padding: 2px;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

::ng-deep .mat-tab-header {
  margin-right: 20px !important;
  // margin-top: 24px !important;
  border-bottom: none !important;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
  // border-left: solid 2px var(--brandColor);
}

::ng-deep .mat-tab-label {
  text-align: left !important;
  justify-content: left !important;
}

// :host ::ng-deep.mat-tab-label.mat-tab-label-active {
//   padding: 0 16px !important;
//   // background-color: rgba(var(--brandRGBColor), var(--brandOpacity)) !important;
//   // border-left: 8px solid var(--brandColor) !important;
//   color: rgba(0, 0, 0, 1) !important;
// }
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
  padding: 0 16px !important;
  border-left: solid 5px rgb(238,84,45);
  color: rgba(0, 0, 0, 1) !important;
  background-color:rgb(231,231,231);
}
.image-resize{
  padding-top: 80px;
  position: fixed;
  // position: sticky;
}
.footer{
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}
.innerCard{
  width: 400px;
  min-height: 400px;
  padding: 40px;
}
img{
  width: 68px;
  height: 50px;

}
