<div >
  <!-- <mat-label>Search</mat-label> -->
  <!-- <mat-form-field >
  <input
  style="height: 41px;"
    type="text"
    placeholder="Search"
    [(ngModel)]="value"

    class="searchStyle"
    #home
  /> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value"> -->
    <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button> -->
  <!-- </mat-form-field> -->

  <!-- (focusout)="onSearch()" -->
  <!-- <mat-icon matSuffix>search</mat-icon> -->
  <!-- <mat-error  >something went wrong!!!! </mat-error> -->
<!-- </mat-form-field>
<button mat-raised-button type="submit" (click)="search(home.value)" class="hButton" color="warn">
  Search
</button> -->
</div>
<!-- (focus)="onSearch()" -->

<!-- <section class="hBg" fxLayout="row" fxLayoutAlign="center center"> -->

  <!-- <button mat-flat-button>
      <mat-icon style="height: 44px;" (click)="search(home.value)">s</mat-icon>
      </button> -->

  <!-- <input
    matInput64px
    type="search"
    placeholder="search"
    class="hSearch"
    [(ngModel)]="enterValue"
    (input)="onSearch()"
  />
  <button mat-raised-button type="submit" class="hButton" color="accent">
    Search
  </button>

</section> -->
