.sAlign{
  width: 300px;
  height: 33px;
  margin: 19px;
    margin-left: 42%;
}
// .hBg{
//   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzgU9H-ReMfP3yUmwvHdysZhRTGWXOPwpYMw&usqp=CAU);
//   height: 189px;
//   margin-top: -97px;
//   margin-left: -100px;
//   margin-right: -100px;
// }
.hSearch{

  width: 50%;
  height: 45px ;
}
.searchStyle{
  width: 600px;
  // height: 3px;
}
mat-form-field{
  width: 600px;
}

.card {
  width: 500px;
  height: 30px;
}
.hButton{
  height: 48px;
  width: 101px;
}
